<h1 class="headLine"> Document Dashboard </h1>
<div class="card mb-3 container" *ngFor = "let doc of documents" >
	<img class="card-img-top" src="{{ doc.image_url }}" alt="Card image cap" width="300">
	<div class="card-body">
		<h5 class="card-title">{{ doc.title}} </h5>
		<p class="card-text"> {{ doc.description }} </p>
		
		<p class="card-text"><small class="text-muted"> {{ doc.updated_at }} </small></p>
		<a class="btn btn-lg btn-primary" href="{{ doc.file_url }}"> Download image </a>
	</div>
</div>







